<div class="paper card">
   <h3>{{surname}} {{firstName}} you have successfully completed the quiz</h3>
   <p id="lastpagescore">
      your score was {{arrayy}}% out of 100%, hence, you {{passOrFail arrayy}}</p>
</div>