<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <title>quiz app</title>
   <link rel="stylesheet" href="css/materialize.min.css">
   <link rel="stylesheet" href="css/styles.css">
   <link rel="stylesheet" href="css/ionicons.min790f.css">

</head>
<body>
   {{> navbar}}
   {{> questioner}}

   <script src="js/jquery.min.js"></script>
   <script src="js/materialize.min.js"></script>
   <script src="js/scripts.js"></script>
</body>
</html>